header{
    font-family: 'Arial', sans-serif;
}

main footer{
    font-family: 'Montserrat', sans-serif;
}

#sony-logo {
    height: 50px;
    width: 100px;
    line-height: 50px;
}

.dropdown-toggle::after{
    display: none;
}

/**STYLE BUTTON**/
#enter-button{
    background-color: #363636;
    color: white;
    
}

#buy-now-button{
    background-color: #CD3D0F;
    color: white;
}
#info-button{
    background-color: #137CD2;
    color: white;
}

#explore-ps-button{
    background-color: #D9DADC;
    color: #137CD2;
}

#now-button{
    background-color: white;
    color: black;
}

/**UTILITY**/
.my-color-white{
    color: white;
}
.my-color-grey{
    color: #727272;
}

.my-color-blue{
    color: #137CD2;
}

.my-bg-taupe{
    background-color:#BEBCBB  ;
}
.my-bg-blue-dark{
    background-color:#161C3B  ;
}
.my-bg-blue{
    background-color:#00439C  ;
}

.my-pt-15{
    padding-top: 15rem;
}


/**jumbotron-first-floor**/

section#jumbotron-first-floor{
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}
#my-container-logo-jumbotron{
    height: 70px;
}

div#logo-jumbotron {
    background-image: url("../img/returnal-hero-banner-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 50%;
    height: 100%;

}

div#gallery >div a img ,
div a img{
    border-radius: 10px;

}

div#gallery >div a img {
    border-radius: 10px;
    filter: opacity(70%);
}



div#gallery >div a img:hover{
    filter:none;
    border: 2px  solid #137CD2;
   /*  transition: all .0s ease-in-out,height 3s; */
    padding: .5rem;
   
}


div#mini-cover >div  a{
    filter: opacity(70%);
}


div#mini-cover >div  a ,
div a {
    text-decoration: none;
   
}

div a p{
    padding: .5rem 0;
}

div#mini-cover >div  a{
   color: black;
    
}
div a {
    color: white;
    
}
/**jumbotron-first-floor-nuove uscite **/
#my-container-logo-jumbotron-new-releases{
    height: 200px;
}
section#jumbotron-first-floor-new-releases{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}


div#logo-jumbotron-new-releases {
    background-image: url("../img/it-takes-two-logo.png");
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: left;
    max-width: 100%;
    height: 100%;
  
  
}
section#new-releases{
    background-color:#1F1F1F ;
}



#jumbotron-playstation-plus{
    height: 100%;
  }



#logo-jumbotron-playstation-plus {
    width: 60%;
  
}

div.row#gallery-discounts div a img{
    border-radius: 0;
}

/**jumbotron-Playstation.now **/

#jumbotron-playstation-now{
    height: 100%;
}


#logo-jumbotron-playstation-now {
    width: 60%;

}


/** footer **/
#my-container-play-logo{
height: 100px;
width: 100px;
position: relative;


}


#play-logo{
    height: 100%;
  
}
.brand-name::after{
    content: "®" ;
    display: inline-block;
    position: absolute;
    bottom: 12%;
    right: 16%;
    color: white;
    width: 1%;
  
}

#my-container-language-globe{
    height: 40px;
}

#my-container-language-globe img{
    height: 50%;
}

ul.list-footer li {
list-style-type: none;
}

#my-container-sie-logo{
    width: 135px;

    }