header{
    font-family: 'Arial', sans-serif;
}

main footer{
    font-family: 'Montserrat', sans-serif;
}

#sony-logo {
    height: 50px;
    width: 100px;
    line-height: 50px;
}

.dropdown-toggle::after{
    display: none;
}

/*STYLE BUTTON*/
#enter-button{
    background-color: #363636;
    color: white;
    
}

#buy-now-button{
    background-color: #CD3D0F;
    color: white;
}
#info-button{
    background-color: #137CD2;
    color: white;
}

#explore-ps-button{
    background-color: #D9DADC;
    color: #137CD2;
}


/*UTILITY*/
.my-color-white{
    color: white;
}

.my-pt-15{
    padding-top: 15rem;
}

.my-color-blue{
    color: #137CD2;
}
.my-color-grey{
    color: #727272;
}

/*jumbotron-first-floor*/

section#jumbotron-first-floor{
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}


div#logo-jumbotron {
    background-image: url("../img/returnal-hero-banner-logo.png");
    background-repeat: no-repeat;
    background-size: contain;  
    max-width: 100%;
    height: 40px;
    margin-bottom: 40px;
  
}

div#gallery >div a img ,
div a img{
    border-radius: 10px;
  

}
div#mini-cover >div  a ,
div a {
    text-decoration: none;
}

div a p{
    padding: .5rem 0;
}

div#mini-cover >div  a{
   color: black;
    
}
div a {
    color: white;
    
}
/*jumbotron-first-floor-nuove uscite */

section#jumbotron-first-floor-new-releases{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}


div#logo-jumbotron-new-releases {
    background-image: url("../img/it-takes-two-logo.png");
    background-repeat: no-repeat;
    background-size: contain;  
    max-width: 100%;
    height: 150px;
    margin-bottom: 40px;
  
}
section#new-releases{
    background-color:#1F1F1F ;
}

/*jumbotron-Playstation.Plus */

#jumbotron-playstation-plus{
    background-image: url("../img/ps-plus-april-monthly-games-featured-image-block.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}
/* #playstation-plus{
    height: 350px;
} */

div#logo-jumbotron-playstation-plus {
    background-image: url("../img/ps-plus-logo.png");
    background-repeat: no-repeat;
    background-size: contain;  
    max-width: 100%;
    height: 80px;
  
  
}

.my-bg-taupe{
    background-color:#BEBCBB  ;
}

div.row#gallery-discounts div a img{
    border-radius: 0;
}